.block-bleu{
    background-color: #0475BA;
    color: white;
    margin: 0%;
    align-items: center;
}
h2,.block-blanc1{
    text-align: center;
}
h3,#block-blanc2 h2, .block-blanc3 h2{
    color: #0475BA;
}
header section footer{
    padding: 40px;
}

img{
    max-width: 100px;
    clip-path:ellipse(50% 50%);
}
nav{
   height: 72px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 32px;
}
.block-bleu h2{
    
height: 100px;
}
.block-bl aside{
    float: left;
}













